.hamburger_menu {
  display: inline-block;
  cursor: pointer;
}

.mobile {
  display: none;
}

.mobile_menu {
  padding: 2rem 6rem;
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: none;
  margin-left:-2rem;
  margin-top: -6rem;
}

.logo_mobile img {
  width: 4.5rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar2 {
  width: 25px;
}

.mobile_item {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 3.5rem;
}

.mobile_item a {
  font-size: 2.4rem;
  color: #333;
  text-decoration: none;
}

.mobile_dec {
  width: 9rem;
  background-color: #FF7EAA;
  height: .4rem;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Show menu */
.change .mobile_menu {
  display: block;
}


/* Mobile */
@media screen and (max-width: 575px){

.mobile {
  display: block;
}

.desktop {
  display: none;
}
}

/* Tablet  */
@media (min-width: 575px) and (max-width: 979px) {

.tablet {
  display: block;
}

.flex-container {
  display: none;
}

.flex-header {
  display: none;
}

}
